<ul>
{{#each posts}}
    <li>
        <div class="postArticle">
            <h3><a href="/post/{{this.id}}">{{this.title}}</a></h3>
            <p>{{this.article}}</p>
            <p class="italic">Posted by {{this.username}} on {{this.date}}</p>
        </div>
    </li>
{{/each}}
</ul>